<button routerLink="/">Назад</button>
<h1>Добавить новую поездку</h1>
<div class="add-new-trip">
    <md-card>
        <md-input-container class="full-width">
            <input mdInput type="text" name="name" #tripName placeholder="Название поездки">
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput type="text" #coutry placeholder="Страна">
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput type="text" #city placeholder="Город">
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput type="date" #dateLeaving placeholder="Дата отъезда">
        </md-input-container>
        <md-input-container class="full-width">
            <input mdInput type="date" #dateArrival placeholder="Дата приезда">
        </md-input-container>
        <md-checkbox #reminder>Напоминать о поездке?</md-checkbox>
        <button (click)="addNewTrip(tripName.value,coutry.value, dateLeaving.value, dateArrival.value, reminder.checked)"
                md-raised-button color="primary">Добавить поездку
        </button>
    </md-card>

</div>
